extends layout

block content
    div.item-min__column
        each item in items
            a(class='item-min__container', href='goods/#{item._id}')
                img(class='item-min__img', src='../images/#{item.img_min}')
                div.item-min__caption #{item.title}
                div.item-min__price #{item.price}
