extends layout

block content
    .item-min__column
        each item in items
            a(class='item-min__container', href='goods/#{item._id}', target='_blank')
                img(class='item-min__img', src='../images/#{item.img_min}')
                .item-min__caption #{item.title}
                .item-min__price #{item.price}
