doctype html
html
  head
    title Shop
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    .nav
      .nav__logo
        .logo__img
        a(class='logo__text', href='../') Tools Shop
      a.nav__link Магазины
      a.nav__link Услуги
      a.nav__link Акции
      a.nav__link Статьи
      a.nav__link Доставка и оплата
      .nav__basket

    block content
