doctype html
html
  head
    title Shop
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.interior
        div.interior__text-container
            h1.interior__caption Как этот товар сочетается с другими в квартире?
            p.interior__description Постройте интерьер, выберите материалы и узнайте стоимость ремонта
            div.interior__button
                div.interior__button-img
                Построить интерьер
        div.interior__img-container
            div.interior__img-room
            div.interior__img-sink
            div.interior__img-close

    block content
