@font-face {
  font-family: 'GraphikLCG';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/GraphikLCG-Regular.otf");
  src: local("GraphikLCG"), local("GraphikLCG-Regular"); }

body, p, h1 {
  margin: 0; }

.font-h1, .interior__caption, .item__caption, .item__column2-text, .item__column2-price, .error__message, .item__column2-count-minus, .item__column2-count-plus {
  font: 24px GraphikLCG;
  color: #373737; }

.font-p, .interior__description, .item__article {
  font: 16px GraphikLCG;
  color: #737373; }

.font-other, .item__column1-size, .item__column1-color, .item__column1-description, .item__column2-delivery-text, .item__column2-count-number {
  font: 16px GraphikLCG;
  color: #373737; }

.button, .interior__button, .item__column2-button {
  border-radius: 4px;
  background-color: #ff4058;
  font: 16px GraphikLCG;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; }

.interior {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  margin: 96px auto 0;
  box-shadow: -20px 0px 200px 20px #dfebfc;
  width: 1264px;
  height: 184px;
  border-radius: 5px; }

.interior__text-container {
  margin: 32px 0 0 40px;
  min-width: 570px; }

.interior__description {
  margin: 10px 0 23px 0; }

.interior__button {
  width: 244px;
  height: 48px;
  margin: 0 0 32px 0; }

.interior__button-img {
  background-image: url("../images/sofa.png");
  height: 14px;
  width: 20px;
  margin: 0 25px 0 0; }

.interior__img-container {
  display: flex; }

.interior__img-sink {
  background-image: url("../images/sink.png");
  height: 94px;
  width: 94px;
  margin: 32px 138px 0 0;
  z-index: 3; }

.interior__img-close {
  background-image: url("../images/close.png");
  height: 20px;
  width: 20px;
  margin: 10px 10px 0 0; }

.interior__img-room {
  background-image: url("../images/room.png");
  height: 200px;
  width: 479px;
  margin: -16px 0 0 -360px;
  position: absolute; }

.item__description-container {
  margin: 0 0 0 50px; }

.item {
  width: 1248px;
  margin: 32px auto 0;
  display: flex; }

.item__img-min {
  display: none; }

.item__img {
  height: 335px;
  width: 480px;
  margin: 100px 0 0 0; }

.item__caption {
  margin: 20px 0 10px 0;
  font-weight: bold; }

.item__columns {
  display: flex;
  margin: 50px 0 0 0; }

.item__column1 {
  width: 312px; }

.item__column2 {
  width: 312px;
  box-shadow: 0 0 50px 0 #bcb4b4;
  border-radius: 5px;
  margin: 0 0 0 32px;
  display: flex;
  flex-direction: column;
  align-items: center; }

.item__column1-size-text {
  font: 13px GraphikLCG;
  color: #737373; }

.item__column1-size {
  margin: 0 0 20px 0; }

.item__column1-color-text {
  font: 13px GraphikLCG;
  color: #737373; }

.item__column2-price-container {
  display: flex;
  margin: 40px 0 50px 0;
  align-items: flex-start; }

.item__column2-text {
  font-weight: bold; }

.item__column2-discount {
  font: 9px GraphikLCG;
  font-weight: bold;
  color: #ff4058;
  border: 1px solid #ff4058;
  text-align: center;
  width: 32px;
  height: 13px;
  margin: 7px 20px 0 20px; }

.item__column2-price {
  font-weight: bold; }

.item__column2-button {
  width: 200px;
  height: 48px;
  margin: 30px auto 50px; }

.item__button-img {
  background-image: url("../images/cart.png");
  height: 19px;
  width: 22px;
  margin: 0 25px 0 0; }

.item__column1-description {
  margin: 20px 0 0 0;
  width: 312px;
  line-height: 32px; }

.item__column2-delivery {
  display: flex;
  margin: 20px 0 0 0; }

.item__column2-delivery-img1 {
  background-image: url("../images/delivery1.png");
  height: 16px;
  width: 18px; }

.item__column2-delivery-img2 {
  background-image: url("../images/delivery2.png");
  height: 16px;
  width: 20px; }

.item__column2-delivery-img3 {
  background-image: url("../images/delivery3.png");
  width: 20px;
  height: 20px; }

.item__column2-delivery-text {
  margin: 0 0 0 15px; }

.error__message {
  margin: 50px 0 0 0;
  text-align: center; }

.item__column2-count {
  display: flex;
  margin-top: 20px;
  justify-content: center; }

.item__column2-count-minus, .item__column2-count-plus {
  cursor: pointer;
  margin: 0 10px; }

.item__column2-count-number {
  width: 25px;
  height: 25px;
  text-align: center; }
